@use "../../vars/index.scss" as *;
@use "../../fonts/font-tokens.scss" as *;

.ui-button {
  @include font(sh-m-bold);
  display: inline-flex;
  height: 48px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 16px;
  transition: 0.3s;

  &--fill {
    background: $interface-lemon;
    color: $text-black;

    &::before {
      display: none;
      content: url(/img/icons/arrow-left-black.svg);
      transition: 0.3s;
    }

    &::after {
      display: none;
      content: url(/img/icons/arrow-right-black.svg);
      transition: 0.3s;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

      &::before {
        transform: translateX(2px);
      }

      &::after {
        transform: translateX(2px);
      }
    }

    &:active {
      transition: 0s;
      transform: translateY(-1px);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
    }
  }

  &--outline {
    border: 1px solid $interface-lemon;
    color: $text-lemon;

    &::before {
      display: none;
      content: url(/img/icons/arrow-left-lemon.svg);
      transition: 0.3s;
    }

    &::after {
      display: none;
      content: url(/img/icons/arrow-right-lemon.svg);
      transition: 0.3s;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

      &::before {
        transform: translateX(2px);
      }

      &::after {
        transform: translateX(2px);
      }
    }

    &:active {
      transition: 0s;
      transform: translateY(-1px);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
    }
  }

  &--stroke {
    color: $text-black;
    border: 1px solid $text-black;

    &::before {
      display: none;
      content: url(/img/icons/arrow-left-black.svg);
      transition: 0.3s;
    }

    &::after {
      display: none;
      content: url(/img/icons/arrow-right-black.svg);
      transition: 0.3s;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

      &::before {
        transform: translateX(2px);
      }

      &::after {
        transform: translateX(2px);
      }
    }

    &:active {
      transition: 0s;
      transform: translateY(-1px);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
    }
  }

  &--ghost {
    color: $text-lemon;

    &::before {
      display: none;
      content: url(/img/icons/arrow-left-lemon.svg);
      transition: 0.3s;
    }

    &::after {
      display: none;
      content: url(/img/icons/arrow-right-lemon.svg);
      transition: 0.3s;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

      &::before {
        transform: translateX(2px);
      }

      &::after {
        transform: translateX(2px);
      }
    }

    &:active {
      transition: 0s;
      transform: translateY(-1px);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
    }
  }

  &--arrow-left {
    &::before {
      display: block;
      width: 24px;
      height: 24px;
    }
  }

  &--arrow-right {
    &::after {
      display: block;
      width: 24px;
      height: 24px;
    }
  }
}
