@use "../../vars/index.scss" as *;
@use "../../fonts/font-tokens.scss" as *;
@use "../../mixins/adaptive-value.scss" as *;

.ui-button {
  @include font(sh-m-bold);
  display: inline-flex;
  @include adaptive-value("height", 48, 37, 1);
  @include adaptive-value("padding-top", 12, 8, 1);
  @include adaptive-value("padding-bottom", 12, 8, 1);
  @include adaptive-value("padding-right", 24, 16, 1);
  @include adaptive-value("padding-left", 24, 16, 1);
  justify-content: center;
  align-items: center;
  @include adaptive-value("border-radius", 8, 4, 1);
  gap: 16px;
  transition: 0.3s;

  &--fill {
    background: $interface-lemon;
    color: $text-black;

    &::before {
      display: none;
      content: url(../img/icons/arrow-left-black.svg);
      transition: 0.3s;
    }

    &::after {
      display: none;
      content: url(../img/icons/arrow-right-black.svg);
      transition: 0.3s;
    }

    @media (min-width: 800px) {
      &:hover {
        transform: translateY(-2px);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

        &::before {
          transform: translateX(2px);
        }

        &::after {
          transform: translateX(2px);
        }
      }
    }

    @media (min-width: 800px) {
      &:active {
        transition: 0s;
        transform: translateY(-1px);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
      }
    }
  }

  &--outline {
    border: 1px solid $interface-lemon;
    color: $text-lemon;

    &::before {
      display: none;
      content: url(../img/icons/arrow-left-lemon.svg);
      transition: 0.3s;
    }

    &::after {
      display: none;
      content: url(../img/icons/arrow-right-lemon.svg);
      transition: 0.3s;
    }

    @media (min-width: 800px) {
      &:hover {
        transform: translateY(-2px);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

        &::before {
          transform: translateX(2px);
        }

        &::after {
          transform: translateX(2px);
        }
      }
    }

    @media (min-width: 800px) {
      &:active {
        transition: 0s;
        transform: translateY(-1px);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
      }
    }
  }

  &--stroke {
    color: $text-black;
    border: 1px solid $text-black;

    &::before {
      display: none;
      content: url(../img/icons/arrow-left-black.svg);
      transition: 0.3s;
    }

    &::after {
      display: none;
      content: url(../img/icons/arrow-right-black.svg);
      transition: 0.3s;
    }

    @media (min-width: 800px) {
      &:hover {
        transform: translateY(-2px);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

        &::before {
          transform: translateX(2px);
        }

        &::after {
          transform: translateX(2px);
        }
      }
    }

    @media (min-width: 800px) {
      &:active {
        transition: 0s;
        transform: translateY(-1px);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
      }
    }
  }

  &--ghost {
    color: $text-lemon;

    &::before {
      display: none;
      content: url(../img/icons/arrow-left-lemon.svg);
      transition: 0.3s;
    }

    &::after {
      display: none;
      content: url(../img/icons/arrow-right-lemon.svg);
      transition: 0.3s;
    }

    @media (min-width: 800px) {
      &:hover {
        transform: translateY(-2px);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

        &::before {
          transform: translateX(2px);
        }

        &::after {
          transform: translateX(2px);
        }
      }
    }

    @media (min-width: 800px) {
      &:active {
        transition: 0s;
        transform: translateY(-1px);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
      }
    }
  }

  &--arrow-left {
    &::before {
      display: block;
      width: 24px;
      height: 24px;
    }
  }

  &--arrow-right {
    &::after {
      display: block;
      width: 24px;
      height: 24px;
    }
  }
}
