.ui-button {
  @include font(sh-m-bold);
  display: inline-flex;
  height: 48px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 16px;

  &--fill {
    background: $interface-lemon;
  }

  &--outline {
  }

  &--stroke {
  }

  &--ghost {
  }

  &--arrow-left {
    &::before {
      content: "123";
    }
  }
}
