@use "../../vars/index.scss" as *;
@use "../../fonts/font-tokens.scss" as *;

.ui-button {
  @include font(sh-m-bold);
  display: inline-flex;
  height: 48px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 16px;

  &--fill {
    background: $interface-lemon;
    color: $text-black;

    &::before {
      display: none;
      content: url(/img/icons/arrow-left-black.svg);
    }

    &::after {
      display: none;
      content: url(/img/icons/arrow-right-black.svg);
    }
  }

  &--outline {
    border: 1px solid $interface-lemon;
    color: $text-lemon;
    &::before {
      display: none;
      content: url(/img/icons/arrow-left-lemon.svg);
    }

    &::after {
      display: none;
      content: url(/img/icons/arrow-right-lemon.svg);
    }
  }

  &--stroke {
    color: $text-black;
    border: 1px solid $text-black;

    &::before {
      display: none;
      content: url(/img/icons/arrow-left-black.svg);
    }

    &::after {
      display: none;
      content: url(/img/icons/arrow-right-black.svg);
    }
  }

  &--ghost {
    color: $text-lemon;

    &::before {
      display: none;
      content: url(/img/icons/arrow-left-lemon.svg);
    }

    &::after {
      display: none;
      content: url(/img/icons/arrow-right-lemon.svg);
    }
  }

  &--arrow-left {
    &::before {
      display: block;
      width: 24px;
      height: 24px;
    }
  }

  &--arrow-right {
    &::after {
      display: block;
      width: 24px;
      height: 24px;
    }
  }
}
