// interface
$interface-black: #0d0f1b;
$interface-dark: #484848;
$interface-grey: #a9b1bc;
$interface-grey-stroke: #cecfd1;
$interface-grey-bg: #f8f8f8;
$interface-white: #fff;
$interface-lemon: #fffacd;
$interface-error: #e00000;

// text
$text-black: #0d0f1b;
$text-main: #484848;
$text-dark-grey: #75787d;
$text-grey: #a9b1bc;
$text-light-grey: #cecfd1;
$text-white: #fff;
$text-lemon: #fffacd;
$text-accent: #1574d2;
$text-error: #e00000;
