@media (min-width: 1650px) {
  .hero {
    &__container {
      position: relative;
    }
    &__media-wrapper {
      top: calc(-1 * var(--header-height));
      right: -80px;
    }
  }
}

@media (max-width: 1345px) {
  .footer-list {
    &__item {
      padding: 0 20px;
    }
  }
}

@media (max-width: 1245px) {
  .footer-list {
    &__item {
      &:nth-child(2n) {
        padding-bottom: 16px;
      }

      &:nth-child(2n + 1) {
        padding-bottom: 34px;
      }

      &:nth-child(5) {
        padding-bottom: 32px;
      }
    }
  }

  .footer-list {
    &__item {
      padding-right: 0;

      &:nth-child(2n) {
        padding-bottom: 12px;
      }

      &:nth-child(2n + 1) {
        padding-bottom: 28px;
      }

      &:nth-child(5) {
        padding-bottom: 28px;
      }
    }
  }

  .footer-sublist {
    gap: 8px;
  }
}

@media (max-width: 1170px) {
  .footer-list {
    &__item {
      padding-left: 15px;
    }
  }
}

@media (max-width: 1170px) {
  .centers-contacts {
    &__main {
      flex: 0 0 400px;
    }
  }
}

@media (max-width: 1150px) {
  .footer-list {
    &__item {
      &:nth-child(5) {
        min-width: 368px;
        max-width: 368px;
      }

      &:nth-child(6) {
        min-width: 368px;
        max-width: 368px;
      }
    }
  }
}

@media (max-width: 1130px) {
  .footer-list {
    &._desktop {
      display: none;
    }

    &._mobile {
      display: flex;
    }

    flex-direction: row;
    justify-content: start;

    &__item {
      width: 100%;
      max-width: 500px !important;
      min-width: 0 !important;
      border: none;
      padding: 20px 25px !important;
      border: none !important;
      border-top: 1px solid rgba(#fff, 0.12) !important;

      &:nth-child(1) {
        border-top: none !important;
        padding-top: 0 !important;
        max-width: 100% !important;
      }
    }
  }

  .footer {
    &__footer-bottom-menu {
      display: none;
    }

    &__bottom {
      padding: 0 25px;
    }

    &__container {
      padding-left: 0;
      padding-right: 0;
      padding-top: 30px;
    }

    &__main-list {
      max-height: 100%;
    }
  }

  .footer-contact {
    &__row {
      flex-wrap: wrap;
      justify-content: start;
      align-items: flex-start;

      &:nth-child(1) {
        flex-direction: column;
        gap: 24px;
      }

      &:nth-child(2) {
        flex-direction: column;
        gap: 24px;
      }
    }

    &__btn {
      max-width: 180px;
    }
  }
}

@media (max-width: 1050px) {
  .centers-contacts {
    &__form-wrapper {
      padding: 80px 0;
      padding-left: 20px;

      &::before {
        display: none;
      }
    }
  }
}

@media (max-width: 1010px) {
  .header {
    &__nav {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: auto;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      z-index: 1;
      background-color: rgba(#0b0b0b, 0.94);
      height: 100vh;
      transform: translateX(100%);
      transition: 0.5s;
      width: 350px;
      &.active {
        transform: translateX(0);
      }
    }

    &__nav-item-arrow {
      cursor: pointer;
      align-self: stretch;
      height: 100%;
    }

    &__submenu {
      opacity: 0;
      position: relative;
      top: 0;
    }

    &__nav-list {
      margin-top: 20%;
      flex-direction: column;
      align-items: stretch;
    }

    &__nav-item-inner {
      height: 50px;
    }

    &__nav-item {
      width: 100%;
      &:has(.header__nav-home-icon) {
        transform: translateX(-12px);
      }

      &.isOpen {
        .header__submenu {
          pointer-events: auto;
          user-select: auto;
        }
      }
    }

    &__nav-link {
      font-size: 16px;
    }

    &__burger {
      display: block;
    }

    &__info {
      @include adaptive-value("gap", 40, 25, 1);
    }

    &__submenu {
      margin: 0 40px;
      background: rgba(#fff, 0.8);
      border-radius: 8px;
    }

    &__submenu-link {
      width: 100%;
      background-color: transparent;
    }
  }
}

@media (max-width: 910px) {
  .ecosystem {
    &__grid {
      padding-left: 0;
    }
  }
}

@media (max-width: 860px) {
  .ecosystem {
    &__inner {
      flex-direction: column;
      gap: 48px;
    }

    &__grid {
      &::before {
        display: none;
      }
    }

    &__tag {
      letter-spacing: -0.02em;
      flex: 1 1 auto;
    }
  }
}

@media (max-width: 850px) {
  .licenses {
    &__list {
      flex-direction: column;
    }
  }

  .centers-contacts {
    display: none;
  }
}

@media (max-width: 650px) {
  .hero {
    &__media-wrapper {
      top: auto;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 10%);
    }
  }
}

@media (max-width: 800px) {
  .service {
    .option {
      &__link {
        display: inline-flex;
        flex-direction: column;
      }

      &__num {
        margin: 0;
      }

      &__title {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}

@media (max-width: 600px) {
  .solve {
    &__label {
      height: auto;
    }
  }

  .contact {
    &__form-labels {
      flex-direction: column;
    }

    &__label {
      font-weight: 500;
    }

    &__input {
      height: 60px;

      &--large {
        height: 134px;
      }
    }
  }

  .case {
    &__control {
      flex-direction: column;
    }
  }
}

@media (max-width: 580px) {
  .header {
    &__schedule {
      display: none;
      justify-content: center;
      align-items: center;
      margin-top: 25px;

      &._mobile {
        display: flex;
      }
    }

    &__phone {
      gap: 8px;
    }

    &__phone-icon {
      width: 24px;
      height: 24px;
    }

    &__phone-text {
      font-size: 16px;
    }

    &__schedule-text {
      font-size: 12px;
    }
  }
}

@media (max-width: 500px) {
  .solve {
    &__btn {
      display: flex;
    }

    &__labels {
      display: inline-flex;
      flex-direction: column;
    }
  }

  .contact {
    &__title {
      font-weight: 400;
    }

    &__form-note {
      width: 100%;
      flex: auto;
    }

    &__submit-button {
      width: 100%;
    }
  }

  .card {
    &__img {
      display: none;
    }

    &__pre-title {
      font-weight: 400;
    }
  }

  .case {
    &__tags {
      display: inline-flex;
      min-width: 173px;
      flex-direction: column;
      gap: 12px;
    }
  }
}

@media (max-width: 450px) {
  .ecosystem {
    &__text {
      letter-spacing: -0.02em;
    }
  }
  .modal {
    &__btn {
      border-radius: 10px;
      height: 49px;
    }

    &__submit-block {
      flex-direction: column;
      align-items: stretch;
      gap: 8px;
    }

    &__form-note {
      max-width: 100%;
    }
  }
}

@media (max-width: 400px) {
  .header {
    &__nav {
      inset: 0;
      width: 100%;
      background-color: rgba(#0b0b0b, 0.97);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .modal {
    &__container {
      box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.1);
    }

    &__title {
      font-weight: 400;
      display: flex;
      column-gap: 10px;
      flex-wrap: wrap;

      br {
        display: none;
      }
    }
  }
}

@media (max-width: 420px) {
  .hero {
    &__desc {
      font-weight: 400;
    }
  }
}

@media (max-width: 380px) {
  .header {
    &__info {
      gap: 15px;
    }
  }
}
