@media (min-width: 1650px) {
  .hero {
    &__container {
      position: relative;
    }
    &__media-wrapper {
      top: calc(-1 * var(--header-height));
      right: -80px;
    }
  }
}

@media (max-width: 850px) {
  .licenses {
    &__list {
      flex-direction: column;
    }
  }
}

@media (max-width: 800px) {
  .service {
    .option {
      &__link {
        display: inline-flex;
        flex-direction: column;
      }

      &__num {
        margin: 0;
      }

      &__title {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}

@media (max-width: 600px) {
  .solve {
    &__label {
      height: auto;
    }
  }

  .contact {
    &__form-labels {
      flex-direction: column;
    }

    &__label {
      font-weight: 500;
    }

    &__input {
      height: 60px;

      &--large {
        height: 134px;
      }
    }
  }
}

@media (max-width: 500px) {
  .solve {
    &__btn {
      display: flex;
    }

    &__labels {
      display: inline-flex;
      flex-direction: column;
    }
  }

  .contact {
    &__title {
      font-weight: 400;
    }

    &__form-note {
      width: 100%;
      flex: auto;
    }

    &__submit-button {
      width: 100%;
    }
  }

  .card {
    &__img {
      display: none;
    }

    &__pre-title {
      font-weight: 400;
    }
  }
}

@media (max-width: 420px) {
  .hero {
    &__desc {
      font-weight: 400;
    }
  }
}
