@use "../../vars/index.scss" as *;
@use "../../fonts/font-tokens.scss" as *;
@use "sass:color";

.ui-tag {
  @include font(sh-m);
  line-height: 162%;
  letter-spacing: 0.02em;
  font-weight: 500;

  border: 1px solid $interface-black;
  border-radius: 50px;
  padding: 12px 32px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: $text-black;
  background-color: transparent;
  transition: 0.2s;

  &::after {
    content: url("../img/icons/arrow-up-right.svg");  
    width: 24px;
    height: 24px;
    transition: transform 0.2s;
  }

  @media (min-width: 800px) {
    &.hovered {
      background-color: $interface-lemon;
      border-color: $interface-lemon;
    }
  }

  @media (min-width: 800px) {
    &:hover {
      background-color: color.adjust($interface-lemon, $lightness: -10%);
      border-color: color.adjust($interface-lemon, $lightness: -10%);
    }
  }

  @media (min-width: 800px) {
    &:hover {
      &::after {
        transform: rotate(45deg);
      }
    }
  }

  &--no-arrow {
    &::after {
      display: none;
    }
  }

  &--small {
    @include font(text-s);
    font-weight: 500;
    color: $text-black;
    letter-spacing: 0;

    height: 28px;
    padding: 4px 16px;

    &::after {
      display: none;
    }
  }
}
