@font-face {
  font-family: "Evolventa";
  src: url("../fonts/Evolventa-Regular.eot");
  src: local("Evolventa"), local("Evolventa-Regular"),
    url("../fonts/Evolventa-Regular.woff2") format("woff2"),
    url("../fonts/Evolventa-Regular.woff") format("woff"),
    url("../fonts/Evolventa-Regular.ttf") format("truetype"),
    url("../fonts/Evolventa-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Evolventa-Regular.svg#Evolventa-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Evolventa";
  src: url("../fonts/Evolventa-Bold.eot");
  src: local("Evolventa Bold"), local("Evolventa-Bold"),
    url("../fonts/Evolventa-Bold.woff2") format("woff2"),
    url("../fonts/Evolventa-Bold.woff") format("woff"),
    url("../fonts/Evolventa-Bold.ttf") format("truetype"),
    url("../fonts/Evolventa-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Evolventa-Bold.svg#Evolventa-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-ExtraBold.eot");
  src: local("Inter 18pt ExtraBold"), local("Inter18pt-ExtraBold"),
    url("../fonts/Inter18pt-ExtraBold.woff2") format("woff2"),
    url("../fonts/Inter18pt-ExtraBold.woff") format("woff"),
    url("../fonts/Inter18pt-ExtraBold.ttf") format("truetype"),
    url("../fonts/Inter18pt-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Inter18pt-ExtraBold.svg#Inter18pt-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Medium.eot");
  src: local("Inter 18pt Medium"), local("Inter18pt-Medium"),
    url("../fonts/Inter18pt-Medium.woff2") format("woff2"),
    url("../fonts/Inter18pt-Medium.woff") format("woff"),
    url("../fonts/Inter18pt-Medium.ttf") format("truetype"),
    url("../fonts/Inter18pt-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Inter18pt-Medium.svg#Inter18pt-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Light.eot");
  src: local("Inter 18pt Light"), local("Inter18pt-Light"),
    url("../fonts/Inter18pt-Light.woff2") format("woff2"),
    url("../fonts/Inter18pt-Light.woff") format("woff"),
    url("../fonts/Inter18pt-Light.ttf") format("truetype"),
    url("../fonts/Inter18pt-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Inter18pt-Light.svg#Inter18pt-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Regular.eot");
  src: local("Inter 18pt Regular"), local("Inter18pt-Regular"),
    url("../fonts/Inter18pt-Regular.woff2") format("woff2"),
    url("../fonts/Inter18pt-Regular.woff") format("woff"),
    url("../fonts/Inter18pt-Regular.ttf") format("truetype"),
    url("../fonts/Inter18pt-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Inter18pt-Regular.svg#Inter18pt-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-SemiBold.eot");
  src: local("Inter 18pt SemiBold"), local("Inter18pt-SemiBold"),
    url("../fonts/Inter18pt-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter18pt-SemiBold.woff") format("woff"),
    url("../fonts/Inter18pt-SemiBold.ttf") format("truetype"),
    url("../fonts/Inter18pt-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Inter18pt-SemiBold.svg#Inter18pt-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
