@charset "UTF-8";
@font-face {
  font-family: "Evolventa";
  src: url("../fonts/Evolventa-Regular.eot");
  src: local("Evolventa"), local("Evolventa-Regular"), url("../fonts/Evolventa-Regular.woff2") format("woff2"), url("../fonts/Evolventa-Regular.woff") format("woff"), url("../fonts/Evolventa-Regular.ttf") format("truetype"), url("../fonts/Evolventa-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Evolventa-Regular.svg#Evolventa-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Evolventa";
  src: url("../fonts/Evolventa-Bold.eot");
  src: local("Evolventa Bold"), local("Evolventa-Bold"), url("../fonts/Evolventa-Bold.woff2") format("woff2"), url("../fonts/Evolventa-Bold.woff") format("woff"), url("../fonts/Evolventa-Bold.ttf") format("truetype"), url("../fonts/Evolventa-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Evolventa-Bold.svg#Evolventa-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-ExtraBold.eot");
  src: local("Inter 18pt ExtraBold"), local("Inter18pt-ExtraBold"), url("../fonts/Inter18pt-ExtraBold.woff2") format("woff2"), url("../fonts/Inter18pt-ExtraBold.woff") format("woff"), url("../fonts/Inter18pt-ExtraBold.ttf") format("truetype"), url("../fonts/Inter18pt-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter18pt-ExtraBold.svg#Inter18pt-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Medium.eot");
  src: local("Inter 18pt Medium"), local("Inter18pt-Medium"), url("../fonts/Inter18pt-Medium.woff2") format("woff2"), url("../fonts/Inter18pt-Medium.woff") format("woff"), url("../fonts/Inter18pt-Medium.ttf") format("truetype"), url("../fonts/Inter18pt-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter18pt-Medium.svg#Inter18pt-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Light.eot");
  src: local("Inter 18pt Light"), local("Inter18pt-Light"), url("../fonts/Inter18pt-Light.woff2") format("woff2"), url("../fonts/Inter18pt-Light.woff") format("woff"), url("../fonts/Inter18pt-Light.ttf") format("truetype"), url("../fonts/Inter18pt-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter18pt-Light.svg#Inter18pt-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Regular.eot");
  src: local("Inter 18pt Regular"), local("Inter18pt-Regular"), url("../fonts/Inter18pt-Regular.woff2") format("woff2"), url("../fonts/Inter18pt-Regular.woff") format("woff"), url("../fonts/Inter18pt-Regular.ttf") format("truetype"), url("../fonts/Inter18pt-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter18pt-Regular.svg#Inter18pt-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-SemiBold.eot");
  src: local("Inter 18pt SemiBold"), local("Inter18pt-SemiBold"), url("../fonts/Inter18pt-SemiBold.woff2") format("woff2"), url("../fonts/Inter18pt-SemiBold.woff") format("woff"), url("../fonts/Inter18pt-SemiBold.ttf") format("truetype"), url("../fonts/Inter18pt-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter18pt-SemiBold.svg#Inter18pt-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Наследуем шрифты для форм */
input,
button,
textarea,
select {
  font: inherit;
}

/* Убираем подчеркивание у ссылок по умолчанию */
a {
  text-decoration: none;
  color: inherit;
}

/* Делаем изображения отзывчивыми */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Списки без маркеров по умолчанию */
ul,
ol {
  list-style: none;
}

/* Кнопки без border/background (под кастомизацию) */
button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Таблицы без «двойных» границ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Убираем стандартные стили заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

h1 {
  font-family: "Inter", sans-serif, sans-serif;
  font-weight: 500;
  font-size: 52px;
  letter-spacing: -0.03em;
  color: #000;
}

h2 {
  font-family: "Inter", sans-serif, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 119%;
  letter-spacing: -0.03em;
  color: #000;
}

h3 {
  font-family: "Inter", sans-serif, sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 136%;
  color: #000;
}

h4 {
  font-family: "Inter", sans-serif, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 108%;
  color: #000;
}

h5 {
  font-family: "Inter", sans-serif, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #000;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

p {
  font-family: "Inter", sans-serif, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}

.ui-button {
  font-family: "Evolventa", sans-serif, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  display: inline-flex;
  height: 48px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 16px;
}
.ui-button--fill {
  background: #fffacd;
  color: #0d0f1b;
}
.ui-button--fill::before {
  display: none;
  content: url(/img/icons/arrow-left-black.svg);
}
.ui-button--fill::after {
  display: none;
  content: url(/img/icons/arrow-right-black.svg);
}
.ui-button--outline {
  border: 1px solid #fffacd;
  color: #fffacd;
}
.ui-button--outline::before {
  display: none;
  content: url(/img/icons/arrow-left-lemon.svg);
}
.ui-button--outline::after {
  display: none;
  content: url(/img/icons/arrow-right-lemon.svg);
}
.ui-button--stroke {
  color: #0d0f1b;
  border: 1px solid #0d0f1b;
}
.ui-button--stroke::before {
  display: none;
  content: url(/img/icons/arrow-left-black.svg);
}
.ui-button--stroke::after {
  display: none;
  content: url(/img/icons/arrow-right-black.svg);
}
.ui-button--ghost {
  color: #fffacd;
}
.ui-button--ghost::before {
  display: none;
  content: url(/img/icons/arrow-left-lemon.svg);
}
.ui-button--ghost::after {
  display: none;
  content: url(/img/icons/arrow-right-lemon.svg);
}
.ui-button--arrow-left::before {
  display: block;
  width: 24px;
  height: 24px;
}
.ui-button--arrow-right::after {
  display: block;
  width: 24px;
  height: 24px;
}