@use "./vars/index.scss" as *;
@use "./fonts/fonts.scss" as *;
@use "./fonts/font-tokens.scss" as *;
@use "./base/index.scss" as *;
@use "./ui-kit/index.scss" as *;

$container-padding: 20px;
$container-width: 1244px;

.container {
  max-width: calc(#{$container-width} + #{$container-padding} * 2);
  margin: 0 auto;
  padding: 0 #{$container-padding};
}

.hero-wrapper {
  background-color: $interface-black;
  overflow: hidden;
}

.header {
  position: relative;
  z-index: 20;
  min-height: 98px;

  &__nav {
    min-height: 96px;
    border-bottom: 1px solid rgba($interface-white, 0.27);
    background: radial-gradient(
      233.7% 138.69% at 0.9% 2.98%,
      rgba(13, 15, 27, 0.4) 33.55%,
      rgba(13, 15, 27, 0) 100%
    );
    backdrop-filter: blur(21px);
    z-index: 20;
  }
}

.hero {
  min-height: 720px;
  display: flex;

  .container {
    flex: 1;
    position: relative;
  }

  &__media-wrapper {
    position: absolute;
    top: -100px;
    right: -80px;
    z-index: 0;
    mask-image: linear-gradient(to right, black 90%, transparent 100%),
      linear-gradient(to bottom, black 90%, transparent 100%),
      linear-gradient(to left, black 90%, transparent 100%),
      linear-gradient(to top, black 90%, transparent 100%),
      radial-gradient(ellipse at center, black 80%, transparent 100%);
    mask-composite: intersect;
    width: 706px;
    height: 816px;

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    video {
      opacity: 0.4;
    }
  }

  &__glow-circle {
    position: absolute;
    width: 609px;
    height: 609px;
    background-color: rgba(lightgray, 0.5);
    mix-blend-mode: overlay;
    filter: blur(37px);
    border-radius: 50%;
    pointer-events: none;
    user-select: none;

    &--3 {
      top: -100px;
      left: -100px;
      opacity: 0.4;
    }

    &--2,
    &--1 {
      right: -130px;
      top: -45px;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    padding-top: 64px;
  }

  &__title {
    color: $text-white;
    margin: 0;
    max-width: 1130px;
    margin-top: 76px;

    span {
      color: $text-lemon;
    }
  }

  &__subtitle {
    @include font(sh-m);
    color: $text-white;
    margin: 32px 0 0;
    max-width: 716px;
  }
}

.portfolio {
  display: flex;
  overflow: hidden;
  background-color: $interface-black;
  background-image: url("../img/decor/portfolio-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/decor/grid.svg");
    background-repeat: no-repeat;
    user-select: none;
    pointer-events: none;
  }

  &__inner {
    display: flex;
    padding: 80px 0;
    gap: 191px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: -55px;
      right: -125px;
      width: 860px;
      height: 860px;
      border-radius: 50%;
      background-color: rgba(lightgray, 0.5);
      background-size: cover;
      background-repeat: no-repeat;
      mix-blend-mode: overlay;
      filter: blur(37px);
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    max-width: 593px;
  }

  &__pre-title {
    @include font(sh-s);
    color: $text-white;
    margin: 0;
  }

  &__title {
    @include font(h1);
    color: $text-white;
    margin: 0;
    margin-top: 16px;

    span {
      color: $text-lemon;
    }
  }

  &__sub-title {
    @include font(sh-m);
    color: $text-white;
    margin: 0;
    margin-top: 32px;
  }

  &__btn {
    margin-top: 64px;
  }

  &__gallery {
    position: relative;
    z-index: 1;
    width: 378px;
    height: 301px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
