@use "./vars/index.scss" as *;
@use "./fonts/fonts.scss" as *;
@use "./fonts/font-tokens.scss" as *;
@use "./base/index.scss" as *;
@use "./ui-kit/index.scss" as *;

.container {
  max-width: calc(1244px + 20px * 2); // ширина + 40px
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

.header-wrapper {
  background-position: right top;
  background-repeat: no-repeat;
  background-color: $interface-black;
  background-size: auto;
}

.header {
  position: relative;
  z-index: 20;
  min-height: 98px;
}

.header__nav {
  height: 96px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.27);
  background: radial-gradient(
    233.7% 138.69% at 0.9% 2.98%,
    rgba(13, 15, 27, 0.4) 33.55%,
    rgba(13, 15, 27, 0) 100%
  );
  backdrop-filter: blur(21px);
  z-index: 20;
}

.hero .container {
  position: relative;
  overflow: visible;
}

.hero__img-wrapper {
  position: absolute;
  top: -192px;
  right: -117px;
  z-index: 0;
  mask-image: linear-gradient(to right, black 95%, transparent 100%);
}

.hero__glow-circle {
  position: absolute;
  width: 609px;
  height: 609px;
  background: lightgray 50% / cover no-repeat;
  mix-blend-mode: overlay;
  filter: blur(37.05763626098633px);
  border-radius: 50%;
  &--left {
    top: 0;
    left: 0;
  }
  &--right,
  &--second-right {
    right: 0;
    top: 0
  }
}

.hero .container {
  min-height: 718px;
  padding: 140px 0 271px;
}

.hero__title {
  position: relative;
  z-index: 1;
  color: $text-white;
  & span {
    color: $text-lemon;
  }
  margin: 0;
}

.hero__subtitle {
  position: relative;
  z-index: 1;
  @include font(sh-m);
  color: $text-white;
  margin: 32px 0 0;
  max-width: 716px;
}
