@use "./vars/index.scss" as *;
@use "./fonts/fonts.scss" as *;
@use "./fonts/font-tokens.scss" as *;
@use "./base/index.scss" as *;
@use "./ui-kit/index.scss" as *;

$container-padding: 20px;
$container-width: 1244px;

.container {
  max-width: calc(#{$container-width} + #{$container-padding} * 2);
  width: 100%;
  margin: 0 auto;
  padding: 0 #{$container-padding};
}

.page-flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero-wrapper {
  background-color: $interface-black;
  overflow: hidden;
}

.header {
  position: relative;
  z-index: 20;
  min-height: 98px;

  &__nav {
    min-height: 96px;
    border-bottom: 1px solid rgba($interface-white, 0.27);
    background: radial-gradient(
      233.7% 138.69% at 0.9% 2.98%,
      rgba(13, 15, 27, 0.4) 33.55%,
      rgba(13, 15, 27, 0) 100%
    );
    backdrop-filter: blur(21px);
    z-index: 20;
  }
}

.hero {
  min-height: 720px;
  display: flex;

  .container {
    flex: 1;
    position: relative;
  }

  &__media-wrapper {
    position: absolute;
    top: -100px;
    right: -80px;
    z-index: 0;
    mask-image: linear-gradient(to right, black 90%, transparent 100%),
      linear-gradient(to bottom, black 90%, transparent 100%),
      linear-gradient(to left, black 90%, transparent 100%),
      linear-gradient(to top, black 90%, transparent 100%),
      radial-gradient(ellipse at center, black 80%, transparent 100%);
    mask-composite: intersect;
    width: 706px;
    height: 816px;

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    video {
      opacity: 0.4;
    }
  }

  &__glow-circle {
    position: absolute;
    width: 609px;
    height: 609px;
    background-color: rgba(lightgray, 0.5);
    mix-blend-mode: overlay;
    filter: blur(37px);
    border-radius: 50%;
    pointer-events: none;
    user-select: none;

    &--3 {
      top: -100px;
      left: -100px;
      opacity: 0.4;
    }

    &--2,
    &--1 {
      right: -130px;
      top: -45px;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    padding-top: 64px;
  }

  &__title {
    color: $text-white;
    max-width: 1130px;
    margin: 76px 0 32px;

    span {
      color: $text-lemon;
    }
  }

  &__desc {
    @include font(sh-m);
    color: $text-white;
    max-width: 716px;
  }
}

.portfolio {
  display: flex;
  overflow: hidden;
  background-color: $interface-black;
  background-image: url("../img/decor/portfolio-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/decor/grid.svg");
    background-repeat: no-repeat;
    user-select: none;
    pointer-events: none;
  }

  &__inner {
    display: flex;
    padding: 80px 0;
    position: relative;
    justify-content: space-between;
    width: 100%;

    &:after {
      content: "";
      position: absolute;
      top: -55px;
      right: -125px;
      width: 860px;
      height: 860px;
      border-radius: 50%;
      background-color: rgba(lightgray, 0.5);
      background-size: cover;
      background-repeat: no-repeat;
      mix-blend-mode: overlay;
      filter: blur(37px);
      user-select: none;
      pointer-events: none;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    max-width: 593px;
  }

  &__pre-title {
    @include font(sh-s);
    color: $text-white;
    margin: 0;
    margin-bottom: 16px;
  }

  &__title {
    @include font(h1);
    color: $text-white;
    margin: 0;
    margin-bottom: 32px;

    span {
      color: $text-lemon;
    }
  }

  &__desc {
    @include font(sh-m);
    color: $text-white;
    margin: 0;
    margin-bottom: 64px;
  }

  &__gallery {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    margin-right: -20px;
  }

  &__gallery-number-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: -5px;
  }

  &__gallery-number {
    font-family: $Evolventa;
    font-weight: 400;
    font-size: 48px;
    line-height: 87%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: $text-white;
  }

  &__gallery-number-desc {
    @include font(text-m);
    color: $text-white;
  }
}

.photos-stack {
  width: 378px;
  height: 301px;
  position: relative;

  &__img-wrapper {
    position: absolute;
    border: 1px solid rgba($interface-white, 0.6);
    border-radius: 24px;
    overflow: hidden;
    transition: transform 0.6s;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 1;
      background-color: rgba(#000, 0.4);
      transition: 0.6s;
    }

    &:nth-child(1) {
      left: 44px;
      top: 0;
      width: 221px;
      height: 193px;
      z-index: 1;
    }

    &:nth-child(2) {
      right: 12px;
      top: 12px;
      width: 158px;
      height: 139px;
      z-index: 2;
    }

    &:nth-child(3) {
      left: 0;
      top: 72px;
      width: 168px;
      height: 147px;
      z-index: 3;
    }

    &:nth-child(4) {
      left: 109px;
      bottom: 0;
      width: 221px;
      height: 193px;
      z-index: 4;
    }

    &:hover {
      transform: scale(1.15);

      &::before {
        background-color: rgba(#000, 0);
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.ecosystem {
  border-radius: 52px 52px 0 0;
  padding: 80px 98px;
  margin-top: -80px;
  background-color: $interface-white;
  position: relative;
  z-index: 1;

  &__inner {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  &__main {
    flex: 1;
  }

  &__pre-title {
    @include font(sh-s);
    color: $text-black;
    margin: 0;
    margin-bottom: 16px;
    max-width: 501px;
  }

  &__title {
    @include font(h1);
    margin: 0;
    margin-bottom: 32px;
    max-width: 501px;
  }

  &__text {
    @include font(text-m);
    color: $interface-dark;
    margin: 0;
    margin-bottom: 24px;
  }

  &__counters {
    display: flex;
    gap: 80px;
    align-items: center;
  }

  &__grid {
    flex: 1;
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 31px;
    position: relative;

    &::before {
      content: url("/img/decor//logo-transparent.png");
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      user-select: none;
      pointer-events: none;
    }
  }
}

.counters {
  &__item {
    display: flex;
    flex-direction: column;
  }

  &__number,
  &__number-prefix {
    font-family: $Evolventa;
    font-weight: 400;
    font-size: 80px;
    line-height: 90%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $text-black;
  }

  &__number-desc {
    @include font(text-m);
    color: $text-dark-grey;
    margin: 0;
    margin-top: 16px;
  }
}

.licenses {
  border-radius: 52px 52px 0 0;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__text-wrapper {
    max-width: 925px;
    padding-bottom: 32px;
    border-bottom: 1px solid $interface-grey-stroke;
  }

  &__pre-title {
    @include font(sh-s);
    color: $text-black;
    margin: 0;
    margin-bottom: 16px;
  }

  &__title {
    @include font(h1);
    color: $text-black;
    margin: 0;
  }

  &__block {
    padding: 32px 0;
    border-bottom: 1px solid $interface-grey-stroke;
  }
}

.license {
  &__title {
    @include font(h2);
    color: $text-black;
    margin: 0;
    margin-bottom: 16px;
  }

  &__desc {
    @include font(sh-m);
    color: $text-black;
    margin: 0;
    margin-bottom: 24px;
    max-width: 811px;
  }

  &__img-wrapper {
    display: flex;
    gap: 24px;
    user-select: none;
  }
}

.solve {
  padding: 80px 0;

  &__glow-circle {
    pointer-events: none;
    user-select: none;
    position: absolute;
    border-radius: 50%;
    width: 754px;
    height: 754px;
    background: lightgray 50% / cover no-repeat;
    mix-blend-mode: overlay;
    filter: blur(37px);
    opacity: 0.6;
    z-index: -1;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(to right, rgba(13, 15, 27, 0.6) 0%, transparent 70%);
    }

    &:nth-child(1),
    &:nth-child(3) {
      left: 157px;
      top: 297px;
    }

    &:nth-child(2),
    &:nth-child(4) {
      width: 860px;
      height: 860px;
      left: 0;
      top: -156px;
    }
  }

  &__labels {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    padding: 0;
  }

  &__inner {
    position: relative;
    z-index: 0;
    border-radius: 40px;
    background-color: $interface-black;
    background-image: url("../img/decor/solve-background-noise.png");
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    padding: 80px;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      border-radius: 40px;
      background: url("../img/decor/solve-grid.svg") center/cover no-repeat;
      z-index: -1;
    }
  }

  &__title {
    @include font(h1);
    color: $text-white;
    margin: 0;
    margin-bottom: 16px;
  }

  &__desc {
    @include font(sh-m);
    color: $text-white;
    margin: 0;
    margin-bottom: 64px;
    max-width: 530px;
  }
}

.contact {
  border-radius: 52px 52px 0 0;
  background-color: $interface-white;

  &__inner {
    padding: 80px 0;
    border-bottom: 1px solid $interface-grey-stroke;

    &--no-border {
      border: none;
    }
  }

  &__pre-title {
    display: inline-block;
    @include font(sh-s);
    color: $text-black;
    margin: 0;
    margin-bottom: 16px;
  }

  &__title {
    @include font(h1);
    color: $text-black;
    margin: 0;
    margin-bottom: 64px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__item {
    flex: 1 1 398px;
    max-width: 398px;
    min-width: 260px;
  }

  &__map {
    max-width: 2300px;
    filter: grayscale(100%);
    margin: 0 auto;
  }
}

.card {
  &__label {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 8px;
  }

  &__img {
    width: 24px;
    height: 24px;
  }

  &__pre-title {
    @include font(sh-m-bold);
    color: $text-black;
    margin: 0;

    &--high {
      min-height: 48px;
      margin-bottom: 12px;
    }
  }

  &__title {
    @include font(text-xl);
    color: $text-black;
    margin: 0;

    &--gray {
      @include font(text-l);
      color: $text-main;
    }
  }
}

.services-wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
  border-radius: 52px 52px 0 0;
  padding-top: 80px;
}

.service {
  &__inner {
    padding-bottom: 48px;
    border-bottom: 1px solid $interface-grey-stroke;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  &__title {
    @include font(h2);
    color: $text-black;
    margin: 0;
    max-width: 592px;
  }

  &__desc {
    @include font(sh-m);
    color: $text-black;
    margin: 0;
    max-width: 603px;
  }

  &__options {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
    margin: 0;
  }

  .option {
    flex: 0 1 398px;
    min-height: 220px;
    border-radius: 24px;
    background-image: url("../img/decor/option-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: 0.2s;

    &::after {
      content: url("../img/decor/logo-transparent-white.png");
      width: 265px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -62px;
      transition: 0.3s;
      pointer-events: none;
      user-select: none;
      opacity: 0;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: radial-gradient(
        circle at center,
        rgba(30, 144, 255, 0.35) 0%,
        rgba(30, 144, 255, 0.18) 70%,
        rgba(30, 144, 255, 0) 100%
      );
      pointer-events: none;
      z-index: 1;
      opacity: 0;
      transition: 0.2s;
    }

    &:hover {
      &::after,
      &::before {
        opacity: 1;
      }
    }

    &__link {
      width: 100%;
      height: 100%;
      display: inline-block;
      padding: 32px 40px;
    }

    &__icon {
      position: absolute;
      top: 32px;
      right: 40px;
    }

    &__num {
      display: inline-block;
      @include font(sh-s);
      color: $text-white;
      margin: 0;
      margin-bottom: 16px;
    }

    &__title {
      @include font(h5);
      color: $text-white;
      margin: 0;
      max-width: 246px;
      text-wrap: balance;
    }
  }
}

.posts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.post {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  max-width: 823px;

  &__img-wrapper {
    flex: 1 1 294px;
    border-radius: 24px;
    max-width: 294px;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__content {
    flex: 1 1 497px;
    max-width: 497px;
  }

  &__date {
    display: inline-block;
    @include font(text-s);
    color: $text-dark-grey;
    margin: 0;
    margin-bottom: 16px;
  }

  &__title {
    @include font(h4);
    color: $text-black;
    margin: 0;
    margin-bottom: 12px;
  }

  &__desc {
    @include font(text-m);
    color: $text-main;
    margin: 0;
    margin-bottom: 24px;
  }
}

.topics {
  max-width: 359px;

  &__title {
    @include font(sh-s);
    color: $text-black;
    margin: 0;
    margin-bottom: 16px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 16px;
    border-radius: 12px;
    background-color: $interface-lemon;
  }

  &__item {
    @include font(text-m);
    color: $text-main;
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 359px;
  margin: 0;
  padding: 0;
  margin-bottom: 64px;

  &__share {
    max-width: 182px;
  }

  &__question {
    max-width: 233px;
  }

  &__img {
    height: 24px;
    width: 24px;
  }

  &__text {
    display: inline-block;
  }
}

.link {
  display: flex;
  gap: 16px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 359px;

  &__title {
    display: inline-block;
    @include font(sh-s);
    color: $text-black;
    margin: 0;
    margin-bottom: 16px;
  }

  &__list {
    background-color: $interface-lemon;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 12px;
    margin: 0;
    padding: 24px 16px;
    list-style-type: disc;
  }

  &__item {
    @include font(text-m);
    color: $text-main;
    margin: 0;
    max-width: 290px;
    margin-left: 17px;
  }
}

.footer {
  background-color: #101221;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    left: -25%;
    top: 80%;
    transform: translateY(-50%);
    width: 1100px;
    height: 1100px;
    border-radius: 50%;
    background: radial-gradient(
      circle at center,
      rgba(30, 144, 255, 0.1) 0%,
      rgba(30, 144, 255, 0.02) 70%,
      rgba(30, 144, 255, 0) 100%
    );
    filter: blur(40px);
    pointer-events: none;
    z-index: 1;
    transition: 0.2s;
  }

  &::after {
    content: "";
    position: absolute;
    right: -20%;
    bottom: -20%;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background: radial-gradient(
      circle at center,
      rgba(30, 144, 255, 0.1) 0%,
      rgba(30, 144, 255, 0.02) 70%,
      rgba(30, 144, 255, 0) 100%
    );
    filter: blur(40px);
    pointer-events: none;
    z-index: 1;
    transition: 0.2s;
  }

  &__container {
    max-width: calc(1328px + 25px * 2);
    margin: 0 auto;
    padding: 48px 25px 32px;
  }

  &__main {
  }

  &__main-list {
    max-height: 550px;
  }

  &__bottom {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom-menu {
  }

  &__copyright {
    @include font(text-xs);
    color: $text-grey;

    margin: 0;
    padding: 0;
  }
}

.footer-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    width: 33.33%;
    padding: 0 40px;
    border-right: 1px solid rgba(#fff, 0.12);

    &:nth-child(5),
    &:nth-child(6) {
      border-right: none;
    }

    &:nth-child(1),
    &:nth-child(2) {
      padding-left: 0;
    }

    &:nth-child(2n) {
      padding-bottom: 32px;
      border-bottom: 1px solid rgba(#fff, 0.12);
    }

    &:nth-child(2n + 1) {
      padding-bottom: 48px;
    }

    &:nth-child(5) {
      padding-bottom: 65px;
      border-bottom: 1px solid rgba(#fff, 0.12);
    }
  }

  &__title {
    @include font(menu-footer);
    margin: 0;
    color: #fff;
    margin-bottom: 20px;
  }

  &__sublist {
  }
}

.footer-sublist {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__item {
  }

  &__link {
    @include font(text-s);
    color: $interface-grey-stroke;
    transition: 0.2s;

    &:hover {
      color: #fff;
    }
  }
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:nth-child(3) {
      gap: 12px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__phone {
    @include font(sh-l);
    color: #fff;
  }

  &__mail {
    @include font(text-m);
    color: #fff;
  }

  &__schedule {
    display: flex;
    flex-direction: column;
  }

  &__time {
    @include font(text-l);
    text-align: right;
    color: $text-grey;
  }

  &__days {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    span {
      @include font(sh-s);
      letter-spacing: 0;
      color: $text-grey;
    }
  }

  &__line {
    background-color: $interface-grey;
    opacity: 0.24;
    width: 100%;
    height: 1px;
  }

  &__address {
    @include font(text-m);
    color: $text-grey;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0;
  }

  &__social {
  }

  &__social-link {
  }

  &__social-icon {
  }

  &__btn {
    width: 100%;
    padding: 12px 18px;
  }
}

.footer-bottom-menu {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 40px;

  &__item {
  }

  &__link {
    font-family: $Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.02em;
    color: #fff;
  }
}
