@use "./vars/index.scss" as *;
@use "./fonts/fonts.scss" as *;
@use "./fonts/font-tokens.scss" as *;
@use "./base/index.scss" as *;
@use "./ui-kit/index.scss" as *;

$container-padding: 20px;
$container-width: 1244px;

.container {
  max-width: calc(#{$container-width} + #{$container-padding} * 2);
  margin: 0 auto;
  padding: 0 #{$container-padding};
}

.hero-wrapper {
  background-color: $interface-black;
  overflow: hidden;
}

.header {
  position: relative;
  z-index: 20;
  min-height: 98px;

  &__nav {
    min-height: 96px;
    border-bottom: 1px solid rgba($interface-white, 0.27);
    background: radial-gradient(
      233.7% 138.69% at 0.9% 2.98%,
      rgba(13, 15, 27, 0.4) 33.55%,
      rgba(13, 15, 27, 0) 100%
    );
    backdrop-filter: blur(21px);
    z-index: 20;
  }
}

.hero {
  min-height: 720px;
  display: flex;

  .container {
    flex: 1;
    position: relative;
  }

  &__media-wrapper {
    position: absolute;
    top: -100px;
    right: -80px;
    z-index: 0;
    mask-image: linear-gradient(to right, black 90%, transparent 100%),
      linear-gradient(to bottom, black 90%, transparent 100%),
      linear-gradient(to left, black 90%, transparent 100%),
      linear-gradient(to top, black 90%, transparent 100%),
      radial-gradient(ellipse at center, black 80%, transparent 100%);
    mask-composite: intersect;
    width: 706px;
    height: 816px;

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    video {
      opacity: 0.4;
    }
  }

  &__glow-circle {
    position: absolute;
    width: 609px;
    height: 609px;
    background-color: rgba(lightgray, 0.5);
    mix-blend-mode: overlay;
    filter: blur(37px);
    border-radius: 50%;
    pointer-events: none;
    user-select: none;

    &--3 {
      top: -100px;
      left: -100px;
      opacity: 0.4;
    }

    &--2,
    &--1 {
      right: -130px;
      top: -45px;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    padding-top: 64px;
  }

  &__title {
    color: $text-white;
    margin: 0;
    max-width: 1130px;
    margin-top: 76px;

    span {
      color: $text-lemon;
    }
  }

  &__subtitle {
    @include font(sh-m);
    color: $text-white;
    margin: 32px 0 0;
    max-width: 716px;
  }
}

.portfolio {
  display: flex;
  overflow: hidden;
  background-color: $interface-black;
  background-image: url("../img/decor/portfolio-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/decor/grid.svg");
    background-repeat: no-repeat;
    user-select: none;
    pointer-events: none;
  }

  &__inner {
    display: flex;
    padding: 80px 0;
    gap: 191px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: -55px;
      right: -125px;
      width: 860px;
      height: 860px;
      border-radius: 50%;
      background-color: rgba(lightgray, 0.5);
      background-size: cover;
      background-repeat: no-repeat;
      mix-blend-mode: overlay;
      filter: blur(37px);
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    max-width: 593px;
  }

  &__pre-title {
    @include font(sh-s);
    color: $text-white;
    margin: 0;
  }

  &__title {
    @include font(h1);
    color: $text-white;
    margin: 0;
    margin-top: 16px;

    span {
      color: $text-lemon;
    }
  }

  &__subtitle {
    @include font(sh-m);
    color: $text-white;
    margin: 0;
    margin-top: 32px;
  }

  &__btn {
    margin-top: 64px;
  }

  &__gallery {
    position: relative;
    z-index: 1;
    width: 378px;
    height: 301px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.ecosystem {
  border-radius: 52px 52px 0 0;
  padding: 80px 98px;
  margin-top: -80px;
  background-color: $interface-white;
  position: relative;
  z-index: 1;

  &__inner {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  &__main {
    flex: 1;
  }

  &__pre-title {
    @include font(sh-s);
    color: $text-black;
    margin: 0;
    margin-bottom: 16px;
    max-width: 501px;
  }

  &__title {
    @include font(h1);
    margin: 0;
    margin-bottom: 32px;
    max-width: 501px;
  }

  &__text {
    @include font(text-m);
    color: $interface-dark;
    margin: 0;
    margin-bottom: 24px;
  }

  &__counters {
    display: flex;
    gap: 80px;
    align-items: center;
  }

  &__grid {
    flex: 1;
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 31px;
    position: relative;

    &::before {
      content: url("/img/decor//logo-transparent.png");
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      user-select: none;
      pointer-events: none;
    }
  }
}

.counters {
  &__item {
    display: flex;
    flex-direction: column;
  }

  &__number,
  &__number-prefix {
    font-family: $Evolventa;
    font-weight: 400;
    font-size: 80px;
    line-height: 90%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $text-black;
  }

  &__number-desc {
    @include font(text-m);
    color: $text-dark-grey;
    margin: 0;
    margin-top: 16px;
  }
}

.licenses {
  border-radius: 52px 52px 0 0;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__text-wrapper {
    max-width: 925px;
    padding-bottom: 32px;
    border-bottom: 1px solid $interface-grey-stroke;
  }

  &__pre-title {
    @include font(sh-s);
    color: $text-black;
    margin: 0;
  }

  &__title {
    @include font(h1);
    color: $text-black;
    margin: 0;
    margin-top: 16px;
  }

  &__block {
    padding: 32px 0;
    border-bottom: 1px solid $interface-grey-stroke;
  }

  &__img-wrapper {
    display: flex;
    gap: 24px;
    margin-top: 24px;
    user-select: none;
  }
}

.license {
  &__title {
    @include font(h2);
    color: $text-black;
    margin: 0;
  }

  &__desc {
    @include font(sh-m);
    color: $text-black;
    margin: 0;
    margin-top: 16px;
    max-width: 811px;
  }
}

.solve {
  padding: 80px 0;

  &__glow-circle {
    position: absolute;
    border-radius: 50%;
    width: 754px;
    height: 754px;
    background: lightgray 50% / cover no-repeat;
    mix-blend-mode: overlay;
    filter: blur(37px);
    opacity: 0.6;
    z-index: -1;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(to right, rgba(13, 15, 27, 0.6) 0%, transparent 70%);
    }

    &--1,
    &--3 {
      left: 157px;
      top: 297px;
    }

    &--2,
    &--4 {
      width: 860px;
      height: 860px;
      left: 0px;
      top: -156px;
    }
  }

  &__labels {
    display: flex;
    gap: 16px;
  }

  &__inner {
    position: relative;
    z-index: 0;
    border-radius: 40px;
    background-color: $interface-black;
    background-image: url("../img/decor/solve-background-noise.png");
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    padding: 80px;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      border-radius: 40px;
      background: url("../img/decor/solve-grid.svg") center/cover no-repeat;
      z-index: -1;
    }
  }

  &__title {
    @include font(h1);
    color: $text-white;
    margin: 0;
    margin-top: 24px;
  }

  &__subtitle {
    @include font(sh-m);
    color: $text-white;
    margin: 0;
    margin-top: 16px;
    max-width: 530px;
  }

  &__btn {
    margin-top: 64px;
  }
}
